<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API'] %>&libraries=places,geometry">
</script>
<script type="text/javascript">
$(function(){
  function initialize() {

    var input1 = document.getElementById('trip_start');
    var input2 = document.getElementById('trip_end');
    var autocomplete1 = new google.maps.places.Autocomplete(input1);
    var autocomplete2 = new google.maps.places.Autocomplete(input2);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
})
</script>
  <%= simple_form_for @trip do |f| %>

    <!-- error messages -->
    <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this blog from being saved</h2>

      <ul>
        <% @trip.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <!-- start of form for making a blog -->
    <div class="form-group">
      <div class="field-title">
        <%= f.label :trip_name, "What is the name of your trip?" %>
        <%= f.text_field :trip_name, class: "form-control"%>
      </div>
      <div class="field-title">
        <%= f.label :description, "Give a short description of your trip" %>
        <%= f.text_area :description, class: "form-control" %>
      </div>
      <div class="field-title">
        <%= f.label :start, "Starting location of your trip" %>
        <p style="color: red;">This is for the entire trip, For example Paris to Berlin. This can be changed at any time.</p>
        <%= f.text_field :start, class: "form-control" %>
        <%= f.label :end, "Ending location of your trip" %>
        <%= f.text_field :end, class: "form-control" %>
        <p>
          (Note please try and keep start and end location as accurate as possible. It helps other users find you in the search engine)
        </p>
      </div>
      <div class="field-title">
        <%= f.label :photo, "Upload a cover image for your trip" %>
        <%= f.file_field :photo %>
      </div>
    </div>

    <%= f.button :submit %>

  <% end %>
