<%= render "select_how_to_post" %>
<div class="col-md-12 post-column">
  <% if @user == current_user %>
    <h3>
      <a href="#" data-toggle="modal" data-target="#which-post-modal">
        Create a new post
      </a>
    </h3>
  <% end %>
</div>
<div class="col-md-12 post-group-column">

  <% if @post_groups.length == 0 && current_user == @user %>
    <h1>This Trip has no posts! create one here
      <a href="#" data-toggle="modal" data-target="#which-post-modal">
        Create a new post
      </a>
    </h1>
  <% else %>
    <% @post_groups.each do |year, post_groups| %>
      <div class="post-group-year">
        <h3><%= year %></h3>
      </div>
      <div class="row">
        <% post_groups.each_with_index do |post_group, index| %>
          <div class="col-md-4 col-sm-6">
            <a href="<%= trip_post_group_url(@trip, post_group) %>">
              <% if post_group.image == nil %>
              <div class="post-group-box">
              <% else %>
              <div class="post-group-box" style="background-image:url(<%= post_group.image_url %>);">
              <% end %>
                <h3><%= post_group.month %></h3>
                <% if current_user == @user %>
                  <div class="post-group-picture-edit" data-value="<%= index %>">
                    <p>Upload Profile Picture</p>
                  </div>
                <% end %>
              </div>
            </a>
          </div>
          <% if current_user == @user %>
          <div id="<%= index %>" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Upload Thumbnail</h4>
                </div>
                <div class="modal-body">
                  <%= form_for([@trip, post_group]) do |f| %>
                    <%= f.label 'image', 'Upload Thumbnail for the Month' %>
                    <%= f.file_field :image %>
                </div>
                <div class="modal-footer">
                    <%= f.submit "Submit", :class => "btn btn-submit" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
