<div class="col-md-12 back-column">
  <%= link_to "Back to Profile", user_path(@user), :class => "btn btn-warning sharp" %>
</div>
<div class="col-md-12 trip-cover-column">
  <div class="trip-display">
    <% if @trip.photo_url == nil %>
      <style media="screen">
        .trip-display {
          height: 200px;
          background: grey;
          border-radius: 4px;
        }
      </style>
    <% else %>
      <%= image_tag @trip.photo.cover.url, :class => "user-cover-photo" %>
    <% end %>
    <% if current_user == @user %>
    <a href="#" data-toggle="modal" data-target="#trip-modal">
        <div class="trip-photo-edit">
          <p>Upload Cover Photo</p>
        </div>
    </a>
    <% end %>
    <%# image_tag(current_user.avatar_url) %>
  </div>
</div>
<div class="col-md-12">
  <div class="trip-title-column">
    <h1 class="trip-title"><%= @trip.trip_name.upcase %></h1>
  </div>
  <div class="row trip-title-description">
    <div class="col-md-4">
      <p>
        <%= @user.name %>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <%= @user.country %>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        Total Distance: <%= @trip.total_distance %> km
      </p>
    </div>
  </div>
</div>
<% if @trip.donation_goal == nil && current_user == @user %>
  <div class="col-md-4 well column-donation-goal">
    <%= button_to 'create a donation goal', new_trip_donation_goal_url(@trip), :class => "btn btn-warning btn-lg btn-secondary sharp", :method => "get" %>
  </div>
<% end %>
<% unless @donation_goal == nil %>
  <div class="col-md-4 well">
    <% if current_user == @user %>
      <%= link_to 'Edit donation goal', edit_trip_donation_goal_url(@trip, @trip.donation_goal) %>
    <% end %>
    <h1><%= @donation_goal.title %></h1>
    <div class="progress">
      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%= @percent_raised %>"
      aria-valuemin="0" aria-valuemax="100" style="width:<%= @percent_raised %>%">
      </div>
    </div>
    <p>
      <%= @donation_goal.current_paid %>$/<%= @donation_goal.amount %>$ raised.
    </p>
    <p>
      <%= @donation_goal.description %>
    </p>
    <%= button_to('Donate Now!', new_trip_transaction_path(@trip), :class => 'btn btn-warning btn-lg btn-secondary sharp', :method => :get) %>
  </div>
<% end %>
<% unless @trip.description == nil && @trip.gear_list == nil %>
  <div class="col-md-7 col-md-offset-1">
    <% if @trip.description == nil %>
      <div class="trip-description">
        <%= render "trip_edit" %>
      </div>
    <% else %>
      <div class="trip-description">
        <h1>Trip Description</h1>
        <p>
          <%= @trip.description %>
        </p>
        <%= render "trip_edit" %>
      </div>
    <% end %>
    <% if @trip.gear_list == nil %>
      <div class="trip-description">
        <%= render "trip_gear_modal" %>
      </div>
    <% else %>
      <div class="trip-description">
        <h1>Gear List</h1>
        <p>
          <%= @gear_list_string %>
        </p>
        <%= render "trip_gear_modal" %>
      </div>
    <% end %>
  </div>
<% end %>
