<% if current_user == @user %>
<a href="#" data-toggle="modal" data-target="#trip-modal">
    <div class="trip-edit">
      <p>Edit Trip</p>
    </div>
</a>
<div id="trip-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Your Trip</h4>
      </div>
      <div class="modal-body">
        <%= form_for @trip do |f| %>
          <%= f.label 'Trip', 'Trip Name' %>
          <%= f.text_field :trip_name, :class => "form-control" %>
          <%= f.label :description, "Give a short description of your trip" %>
          <%= f.text_area :description, class: "form-control" %>
          <%= f.label :start, "Starting location of your trip" %>
          <div class="row">
            <div class="col-xs-4">
              <%= text_field_tag :start_country, @start_array.last, { :class => "form-control", :required => true, :placeholder => "Country"} %>
            </div>
            <div class="col-xs-4">
              <%= text_field_tag :start_province, @start_array.second, { :class => "form-control", :required => true, :placeholder => "Province/State"} %>
            </div>
            <div class="col-xs-4">
              <%= text_field_tag :start_city, @start_array.first,{ :class => "form-control", :required => true, :placeholder => "City" }%>
            </div>
          </div>
          <%= f.label :end, "Ending location of your trip" %>
          <div class="row">
            <div class="col-xs-4">
              <%= text_field_tag :end_country, @end_array.last, :class => "form-control", :required => true, :placeholder => "Country" %>
            </div>
            <div class="col-xs-4">
              <%= text_field_tag :end_province, @end_array.second, :class => "form-control", :required => true, :placeholder => "Province/State" %>
            </div>
            <div class="col-xs-4">
              <%= text_field_tag :end_city, @end_array.first, :class => "form-control", :required => true, :placeholder => "City" %>
            </div>
          </div>
          <p>
            (Note please try and keep start and end location as accurate as possible. It helps other users plan their trips better.)
          </p>
          <%= f.label :photo, "Upload a cover image for your trip" %>
          <%= f.file_field :photo %>
      </div>
      <div class="modal-footer">
          <%= f.submit "Submit", :class => "btn btn-submit" %>
      <% end %>
        <%= button_to "Delete Trip", { action: "destroy", id: @trip.id },
                                method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  </div>
</div>
<% end %>
