<% if current_user == @user %>
<a href="#" data-toggle="modal" data-target="#trip-modal">
    <div class="trip-edit">
      <p>Edit Trip</p>
    </div>
</a>
<% if @trip.donation_goal == nil %>
  <%= link_to 'create a donation goal', new_trip_donation_goal_url(@trip) %>
<% else %>
  <%= link_to 'Edit donation goal', edit_trip_donation_goal_url(@trip, @trip.donation_goal) %>
<% end %>
<div id="trip-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Your Trip</h4>
      </div>
      <div class="modal-body">
        <%= form_for @trip do |f| %>
          <%= f.label 'Trip', 'Trip Name' %>
          <%= f.text_field :trip_name, :class => "form-control" %>
          <%= f.label 'Photo', 'Upload Trip Photo' %>
          <%= f.file_field :photo %>
      </div>
      <div class="modal-footer">
          <%= f.submit "Submit", :class => "btn btn-submit" %>
      <% end %>
        <%= button_to "Delete Trip", { action: "destroy", id: @trip.id },
                                method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  </div>
</div>
<% end %>
