<div class="col-md-12 trip-cover-column">
  <div class="trip-display">
    <% if @trip.photo_url == nil %>
      <a href="http://placehold.it"><img src="http://placehold.it/1140x330"></a>
    <% else %>
      <%= image_tag @trip.photo.cover.url, :class => "user-cover-photo" %>
    <% end %>
    <%# image_tag(current_user.avatar_url) %>
  </div>
  <div class="trip-edit">
    <%= render "trip_edit" %>
  </div>
</div>
<div class="col-md-12">
  <div class="trip-title-column">
    <h1 class="trip-title"><%= @trip.trip_name.upcase %></h1>
  </div>
  <div class="row trip-title-description">
    <div class="col-md-4">
      <p>
        <%= @user.name %>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <%= @user.country %>
      </p>
    </div>
    <div class="col-md-4">
      <p>
        <%= @trip.total_distance %> km
      </p>
    </div>
  </div>
</div>
<% unless @donation_goal == nil %>
  <div class="col-md-4 well">
    <h1><%= @donation_goal.title %></h1>
    <div class="progress">
      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
      aria-valuemin="0" aria-valuemax="100" style="width:<%= @percent_raised %>%">
      </div>
    </div>
    <p>
      <%= @donation_goal.current_paid %>$/<%= @donation_goal.amount %>$ raised.
    </p>
    <p>
      <%= @donation_goal.description %>
    </p>
    <%= button_to('Donate Now!', new_trip_transaction_path(@trip), :class => 'btn btn-warning btn-lg btn-secondary sharp', :method => :get) %>
  </div>
<% end %>
<% unless @trip.description == nil %>
  <div class="col-md-12">
    <p>
      <%= @trip.description %>
    </p>
  </div>
<% end %>
