<div class="container">
  <div class="row">
    <div class="col-md-12 trip-title-column">
      <div class="trip-display">
        <a href="http://placehold.it" class="profile-image"><img src="http://placehold.it/150x150/FFC0CB/000000"></a>
        <%# image_tag(current_user.avatar_url) %>
        <h1 class="trip-title"><%= @trip.trip_name %></h1>
      </div>
      <div class="trip-edit">
        <%= render "trip_edit" %>
      </div>
    </div>
    <div class="col-md-10 col-md-offset-2 post-column">
      <% if @user == current_user %>
        <h3><%= link_to "Create a new post", new_trip_post_path(@trip) %></h3>
      <% end %>
      <% count = 1 %>
      <% @posts.each do |post| %>
        <div class="post-box">
          <h3><%= count.to_s %>. <span class="post-title"><%= link_to "#{post.post_title}", trip_post_path(@trip, post) %></span></h3>
        </div>
        <% count += 1 %>
      <% end %>
    </div>
  </div>
</div>
