<div class="container">
  <div class="row">
    <div class="ui segment">
      <div class="col-sm-12 view-all-messages-col">
        <% if @over_ten %>
         <%= link_to 'View all messages', '?m=all', :class => "show-all-messages" %>
        <% end %>
      </div>
     <% @messages.each do |message| %>
      <% if message.body %>
       <% user = User.find(message.user_id) %>
       <div class="col-sm-12">
         <div class="item">
          <% if message.user_id == current_user.id %>
          <div class="content sender">
          <% else %>
          <div class="content reciever">
          <% end %>
           <div class="header"><strong><%= user.name %></strong></div>
            <div class="list">
             <div class="item">
              <% if message.user_id == current_user.id %>
                <i class="right triangle icon triangle-current"></i>
              <% else %>
                <i class="right triangle icon triangle-other"></i>
              <% end %>
                <%= message.body %>
            </div>
          </div>
         </div>
       </div>
       <div class="message-pictre">
         <% if message.user_id == current_user.id %>
           <% if message.user.avatar.url == nil  %>
             <%= image_tag "missing.png", :class=> "message-photo img-rounded image-left" %>
           <% else %>
             <%= image_tag message.user.avatar.thumb.url, :class => "message-photo img-rounded image-left" %>
           <% end %>
         <% else %>
           <% if message.user.avatar.url == nil  %>
             <%= image_tag "missing.png", :class=> "message-photo img-rounded image-right" %>
           <% else %>
             <%= image_tag message.user.avatar.thumb.url, :class => "message-photo img-rounded image-right" %>
           <% end %>
         <% end %>
       </div>
     </div>
     <% end %>
    <% end %>
  </div>
    <div class="col-sm-12">
      <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
       <div class="field">
         <%= f.text_area :body, class: "form-control" %>
       </div>
       <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
       <div>
         <%= f.submit "Send", class: "btn btn-primary sharp" %>
       </div>
      <% end %>
    </div>
  </div>
</div>
