<div id="wrapper-reg">
  <div class="container container-table <%= css_slug %>">
    <div class="row vertical-center-row <%= css_slug %>">
      <div class="registration-wrapper">
        <div class="col-title">
          <h1>Log In</h1>
        </div>
        <hr class="title-divider">
        <div class="sign_form">
          <%= form_tag sessions_path do %>
            <div class="field">
              <%= label_tag :email %><br/>
              <%= text_field_tag :email, params[:email], class: "form-control" %>
            </div>
            <div class="field">
              <%= label_tag :password %><br/>
              <%= password_field_tag :password, class: "form-control" %>
            </div>
            <div class="actions"><%= submit_tag "Log in" %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
