<div class="container">
  <div class="row">
    <div class="col-xs-12 search-column">
      <%= form_for search_path, method: :get do |f| %>
        <p>
          <%= text_field_tag :q, params[:q], :class => "form-control search-text-input", placeholder: 'Search' %>
          <%= submit_tag "Search", name: nil, :class => "btn btn-primary sharp" %>
        </p>
      <% end %>
    </div>
    <% if @users.length == 0 %>
    <div class="col-xs-12 user-search-column">
      <h1>There are no search resutls for that query, plase try again</h1>
    </div>
    <% else %>
      <% @users.each do |user| %>
        <div class="col-xs-12 user-search-column">
          <div class="row">
            <div class="col-sm-4">
              <% if user.cover.cover.url == nil %>
                <a href="<%= user_path(user) %>" class="profile-image"><img src="http://placehold.it/150x150/FFC0CB/000000" class="img-thumbnail"></a>
              <% else %>
                <div class="user-thumb-image">
                  <a href="<%= user_path(user) %>">
                    <%= image_tag user.cover.cover.url, :class => "user-cover-photo img-thumbnail" %>
                  </a>
                </div>
              <% end %>
            </div>
            <div class="col-sm-7 col-sm-offset-1">
              <h3>
                <%= link_to user.name, controller: "users", action: "show", id: user.id %>
              </h3>
              <% unless user.description == nil  %>
                <div class="user-description">
                  <p><%= user.description %></p>
                </div>
              <% end %>
              <% unless user.city == nil && user.country == nil %>
                <div class="user-description">
                  <p><%= user.city %>, <%= user.country %></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
