<script type="text/javascript">
$( document ).ready(function() {

  $(".center").slick({
    slidesToShow: 3,
    arrows: true,
  });

})
</script>

<% if current_user == @user %>
  <%= button_to "Edit Post", edit_trip_post_url(@post.trip, @post), :class => "btn btn-warning sharp", :method => 'get' %>
<% end %>

<%= hidden_field_tag 'current_post_date', "#{@post.day}" %>
<div class="post-title">
  <h1><%= @post.post_title.upcase %></h1>
</div>
<div class="post-details row">
  <div class="col-sm-4">
    <p>
      <%= @post.trip.user.name %>
    </p>
  </div>
  <div class="col-sm-4">
    <p>
      <%= @post.address1 %> to <%= @post.address2 %>
    </p>
  </div>
  <% unless @post.distance == nil %>
    <div class="col-sm-4">
      <p>
        <%= @post.distance %>
      </p>
    </div>
  <% end %>
</div>
<div class="row post-text-row">
  <div class="col-sm-12">
    <p>
      <%= simple_format(@post.post_content) %>
    </p>
  </div>
</div>
<% unless @post.post_pictures == nil %>
  <section class="center slider">
    <% @post.post_pictures.each do |post_picture| %>
      <div class="post-picture-image">
        <%= image_tag(post_picture.picture_url, class: "post-picture") if post_picture.picture? %>
      </div>
    <% end %>
  </section>
<% end %>
