<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table class="table">
        <tr>
          <th>Username</th>
          <th>Message Content</th>
          <th>User Offense Count</th>
          <th>Pardon User</th>
          <th>Warn User</th>
          <th>Ban User</th>
        </tr>
        <% @flagged_messages.each do |flagged_message| %>
          <% user = flagged_message.user %>
          <% if flagged_message.open_offense %>
          <tr>
            <td><%= user.name %></td>
            <td><%= flagged_message.body %></td>
            <td><%= user.offense_count %></td>
            <td><%= button_to('Pardon User', user_pardon_path(user.id, message_id: flagged_message.id), :class => 'btn btn-success', :method => :patch) %></td>
            <td><%= button_to('Warn User', user_warn_path(user.id, message_id: flagged_message.id), :class => 'btn btn-warning', :method => :patch) %></td>
            <td><%= button_to('Ban User', user_ban_path(user.id, message_id: flagged_message.id), :class => 'btn btn-danger btn-ban-user', :method => :patch) %></td>
          </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>
