<div class="container">
  <div class="row">
    <div class="col-sm-4 well text-center">
      <i class="fa fa-user-circle fa-5x"></i>
      <p><%= @users.length %> users</p>
    </div>
    <div class="col-sm-4 well text-center">
      <i class="fa fa-book fa-5x"></i>
      <p><%= @posts.length %> posts</p>
    </div>
    <div class="col-sm-4 well text-center">
      <i class="fa fa-money fa-5x"></i>
      <p><%= @total_raised %>$ raised</p>
    </div>
    <div class="col-sm-12 well">
      <p>Cumulative Sign up</p>
      <% sum = 0 %>
      <%= line_chart @users.group_by_week(:created_at).count.map { |x,y| { x => (sum += y)} }.reduce({}, :merge) %>
    </div>
    <div class="col-sm-12 well">
      <p>Sign in count (note does not track returning peoples)</p>
      <%= line_chart User.group_by_day(:last_sign_in_at).count %>
    </div>
    <div class="col-sm-12 well">
      <p>New Posts</p>
      <%= line_chart @posts.group_by_day(:created_at).count %>
    </div>
  </div>
</div>
