<% if @user == current_user %>
  <a href="#" data-toggle="modal" data-target="#information-modal">
    <span class="glyphicon glyphicon-pencil user-edit" aria-hidden="true">Edit User Information</span>
  </a>
<% end %>
<div class="user clearfix">
  <h2><%= @user.name %></h2>
  <div class="actions">
    <div class="btn-group">
    </div>
  </div>
</div>
<div class="info">
  <p>
    <%= @user.description %>
  </p>
  <p><span class="glyphicon glyphicon-globe"></span> <span class="title">Address:</span> <%= "#{@user.city}," %> <%= "#{@user.province}," %> <%= "#{@user.country}" %></p>
  <% if current_user != @user && current_user != nil%>
    <%= button_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', class: "btn btn-warning sharp"  %>
    <% if @follows == true %>
      <%= button_to 'Unfollow Blog', user_followed_blog_path(@user, @followed_blog), method: 'delete', class: 'btn btn-warning sharp follow-blog-button'  %>
    <% else %>
      <%= button_to 'Follow Blog', user_followed_blogs_path(@user), method: 'post', class: 'btn btn-warning sharp follow-blog-button'  %>
    <% end %>
  <% end %>
</div>
<%= render "user_modal" %>
