<% if @user == current_user %>
  <a href="#" data-toggle="modal" data-target="#information-modal">
    <span class="glyphicon glyphicon-pencil user-edit" aria-hidden="true"></span>
  </a>
<% end %>
<div class="user clearfix">
  <h2><%= @user.name %></h2>
  <div class="actions">
    <div class="btn-group">
    </div>
  </div>
</div>
<div class="info">
  <p>
    <%= @user.description %>
  </p>
  <p><span class="glyphicon glyphicon-globe"></span> <span class="title">Address:</span> <%= @user.city %>, <%= @user.province %>, <%= @user.country %></p>
  <% if current_user != @user %>
    <%= button_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', class: "btn btn-warning sharp"  %>
  <% end %>
</div>
<%= render "user_modal" %>
