<div id="information-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload Profile Photo</h4>
      </div>
      <div class="modal-body">
        <%= form_for @user do |f| %>
          <%= f.label 'name', 'Change Name' %>
          <%= f.text_field :name, :class => "form-control" %><br>
          <%= f.label 'description' %>
          <%= f.text_area :description, :class => "form-control" %><br>
          <%= f.label 'Country' %>
          <%= f.text_field :country, :class => "form-control" %><br>
          <%= f.label 'Prov/State' %>
          <%= f.text_field :province, :class => "form-control" %><br>
          <%= f.label 'City' %>
          <%= f.text_field :city, :class => "form-control" %><br>
      </div>
      <div class="modal-footer">
        <%= f.submit "Submit", :class => "btn btn-submit" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
