<h1><%= @user.name %></h1>

<%= form_for @user do |f| %>
  <%= f.file_field :avatar %>
  <%= f.file_field :cover %>
  <%= f.submit %>
<% end %>

<% @trips.each do |trip| %>
  <h3><%= link_to "#{trip.trip_name}", trip_path %></h3>
<% end %>

<br><br><br><br><br>

<% if @trips.any? %>
  <h3><%= link_to "Start a new trip", new_trip_path %>
<% else %>
  <h3><%= link_to "Start your first trip", new_trip_path %></h3>
<% end %>
