<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API'] %>&libraries=places,geometry">
</script>
<script type="text/javascript">
$(function(){
  function initialize() {

    var input1 = document.getElementById('start_route');
    var input2 = document.getElementById('end_route');
    var autocomplete1 = new google.maps.places.Autocomplete(input1);
    var autocomplete2 = new google.maps.places.Autocomplete(input2);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
})
</script>

<div id="route_explorer_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Chose Two Points</h4>
      </div>
      <div class="modal-body">
        <%= form_tag routes_path, method: "get" do |f| %>
          <%= label_tag :start, 'Starting Place' %>
          <%= text_field_tag :start_route, nil, :class => "form-control" %>
          <%= label_tag :end, 'Ending Place' %>
          <%= text_field_tag :end_route, nil, :class => "form-control" %>
      </div>
      <div class="modal-footer">
          <%= submit_tag "Submit", :class => "btn btn-submit" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
