<div class="container">
  <div class="row">
    <div class="col-sm-12 title">
      <h1><%= t("about.site_title") %></h1>
      <p><%= t("about.site_text") %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1><%= t("about.about_title") %></h1>
    </div>
    <div class="col-sm-3">
      <%= image_tag "about.JPG", :class=> "user-cover-photo img-rounded" %>
    </div>
    <div class="col-sm-9">
      <p><%= t("about.about_text_1") %><br>
        <br><%= t("about.about_text_2") %>
        <br><br>Please fill out the form below to contact me!
        <div class="about-feedback-box">
          <%= form_for @feedback do |f| %>
          <%= f.label :email, "Email" %>
          <%= f.text_field :email, required: true, autofocus: true, class: "form-control", placeholder: "my@email.com" %>
          <%= f.label :content, "Message" %>
          <%= f.text_area :content, required: true, autofocus: true, class: "form-control", placeholder: "Message content" %>
          <%= f.submit "Submit", :class => "btn btn-primary btn-xl" %>
          <% end %>
        </div>
      </p>
    </div>
  </div>
</div>
