<div id="<%= css_slug %>">
  <header class="masthead">
    <div class="header-content">
      <div class="header-content-inner">
        <% if current_user %>
          <h1 id="homeHeading"><%= t("homepage.lander") %></h1>
          <hr>
          <p><%= t("homepage.lander_text") %></p>
          <!-- <%# button_to('Go To Your Page', user_path(@user_id), :class => 'btn btn-warning btn-lg btn-secondary sharp', :method => :get) %> -->
          <div class="button-group">
            <%= button_to(t("homepage.go_to_page"), user_path(@user_id), :class => 'btn btn-primary btn-xl ', :method => :get) %>
            <button type="button" id="search-trip-homepage" name="button" class="btn btn-primary btn-xl" data-toggle="modal" data-target="#trip_explorer_modal">Search Trips</button>
          </div>
        <% else %>
          <h1 id="homeHeading"><%= t("homepage.lander_not_logged") %></h1>
          <hr>
          <p><%= t("homepage.lander_text") %></p>
          <!-- <%# button_to('Sign Up Now', new_user_registration_path, :class => 'btn btn-warning btn-lg btn-secondary sharp', :method => :get) %> -->
          <div class="button-group">
            <%= button_to(t("homepage.sign_up_now"), new_user_registration_path, :class => 'btn btn-primary btn-xl', :method => :get) %>
            <button type="button" id="search-trip-homepage" name="button" class="btn btn-primary btn-xl" data-toggle="modal" data-target="#trip_explorer_modal">Search Trips</button>
          </div>
        <% end %>
      </div>
    </div>
  </header>
  <%= render "trip_explorer_modal" %>

  <section class="bg-primary" id="about">
    <div class="container new-trips-container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1><%= t('homepage.current_trips') %></h1>
          <div class="trip-carousel">
            <% @featured_trips.each_with_index do |trip, index| %>
              <div class="trip-slider-<%= trip.id %> trip-slider" data-trip-id=<%= trip.id %>>
                <% if trip.photo.url != nil %>
                  <style media="screen">
                    .trip-slider-<%= trip.id %> {
                      background-image: url(<%= trip.photo.url %>)
                    }
                  </style>
                <% else %>
                <style media="screen">
                  .trip-slider-<%= trip.id %> {
                    background-image: url(<%= asset_url("#{(index + 1).to_s}.jpg") %>)
                  }
                </style>
                <% end %>
                <h2><a href="<%= trip_path(trip) %>" class="trip-link">View <%= trip.user.name %>'s Trip</a></h2>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading"><%= t("homepage.support") %></h2>
          <hr class="primary">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-bicycle text-primary sr-icons"></i>
            <h3><%= t("homepage.built_title") %></h3>
            <p class="text-muted"><%= t("homepage.built_text") %></p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-usd text-primary sr-icons"></i>
            <h3><%= t("homepage.raise_title") %></h3>
            <p class="text-muted"><%= t("homepage.raise_text") %></p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-map-marker text-primary sr-icons"></i>
            <h3><%= t("homepage.chart_title") %></h3>
            <p class="text-muted"><%= t("homepage.chart_text") %></p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
            <i class="fa fa-4x fa-envelope text-primary sr-icons"></i>
            <h3><%= t("homepage.connect_title") %></h3>
            <p class="text-muted"><%= t("homepage.connect_text") %></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="p-0" id="portfolio">
    <div class="container-fluid">
      <div class="row no-gutter popup-gallery">
        <%# @featured_trips.each do |trip| %>
          <div class="col-lg-4 col-sm-6">
            <%# if trip.photo.url == nil %>
            <a class="portfolio-box" href="<%# trip_path(trip) %>">
              <%# image_tag "1.jpg", :class => "img-fluid" %>
            <%# else %>
            <a class="portfolio-box" href="<%# trip_path(trip) %>">
              <%# image_tag "1.jpg", :class => "img-fluid" %>
              <img class="img-fluid" src="<%# trip.photo.url %>" alt="">
            <%# end %>
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    <%# trip.trip_name %>
                  </div>
                </div>
              </div>
            </a>
          </div>
        <%# end %>
      </div>
    </div>
  </section> -->

  <div class="call-to-action bg-dark">
    <div class="container text-center">
      <% if current_user %>
        <h2><%= t("homepage.go_to_page") %></h2>
        <%= link_to t("homepage.go_to_page"), user_path(@user_id), :class => 'btn btn-primary btn-xl' %>
      <% else %>
        <h2><%= t("homepage.sign_up_now") %></h2>
        <%= link_to t("homepage.sign_up_now"), new_user_registration_path, :class => 'btn btn-default btn-xl sr-button' %>
      <% end %>
    </div>
  </div>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading"><%= t("homepage.feedback_title") %></h2>
          <hr class="primary">
          <p><%= t("homepage.feedback_text") %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 mr-auto text-center">
          <i class="fa fa-envelope-o fa-3x sr-contact"></i>
          <div class="feedback-box">
            <%= form_for @feedback do |f| %>
            <%= f.label :email, "Email" %>
            <%= f.text_field :email, required: true, autofocus: true, class: "form-control", placeholder: "my@email.com" %>
            <%= f.label :content, "Message" %>
            <%= f.text_area :content, required: true, autofocus: true, class: "form-control", placeholder: "Message content" %>
            <%= f.submit "Submit", :class => "btn btn-primary btn-xl" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
