<script type="text/javascript">
$(function(){
  function initialize() {

    var input1 = document.getElementById('post_address1');
    var input2 = document.getElementById('post_address2');
    var autocomplete1 = new google.maps.places.Autocomplete(input1);
    var autocomplete2 = new google.maps.places.Autocomplete(input2);
    var geocoder= new google.maps.Geocoder();

    google.maps.event.addListener(autocomplete2, 'place_changed', function() {
      geocoder.geocode({'address': $("#post_address1").val()}, function(results, status) {
        if (status === 'OK') {
          var lat_lng_1 = results[0].geometry.location
          $("#post_address1_lng").val(lat_lng_1.lng())
          $("#post_address1_lat").val(lat_lng_1.lat())
          geocoder.geocode({'address': $("#post_address2").val()}, function(results, status) {
            if (status === 'OK') {
              var lat_lng_2 = results[0].geometry.location
              $("#post_address2_lng").val(lat_lng_2.lng())
              $("#post_address2_lat").val(lat_lng_2.lat())
              var distance = google.maps.geometry.spherical.interpolate(lat_lng_1, lat_lng_2, 0.5);
              $("#post_center_lng").val(distance.lng())
              $("#post_center_lat").val(distance.lat())
            } else {
              alert('Geocode was not successful for the following reason: ' + status);
            }
          });
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }
      });
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);
})
</script>

<div id="check-post-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Everything look okay?</h4>
      </div>
      <div class="modal-body">
      <%= form_for([@trip, @post], :html => { :multipart => true }) do |f| %>
        <%= hidden_field_tag :distance %>
        <!-- error messages -->
        <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved</h2>

          <ul>
            <% @post.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <% end %>

        <!-- start of form for making a blog -->
        <div class="form-group">
          <div class="field-title">
            <%= f.label :post_title, "What is the name of your post?" %>
            <%= f.text_field :post_title, class: "form-control" %>
          </div>
          <div class="field-title">
            <%= f.label :post_content, "Enter your post here!" %>
            <%= f.text_area :post_content, class: "form-control" %>
          </div>
          <div class="field-title">
            <label for="date">Chose the date of this post</label>
            <input type="text" data-provide='datepicker' name=post[post_date] id="post_date" >
          </div>
          <div class="field-title">
            <%= f.label :address1, "Enter starting point!" %>
            <%= f.text_field :address1, class: "form-control"%>
          </div>
          <div class="field-title">
            <%= f.label :address2, "Enter end point here!" %>
            <%= f.text_field :address2, class: "form-control" %>
          </div>
          <%= f.hidden_field :center_lng %>
          <%= f.hidden_field :center_lat %>
          <%= f.hidden_field :address1_lng %>
          <%= f.hidden_field :address1_lat %>
          <%= f.hidden_field :address2_lng %>
          <%= f.hidden_field :address2_lat %>
          <%= f.hidden_field :poly_line %>
        </div>
      </div>
      <div class="modal-footer">
          <%= f.submit "Submit", :class => "btn btn-submit" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
