<%= form_for([@trip, @post], :html => { :multipart => true }) do |f| %>

  <!-- error messages -->
  <% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved</h2>

    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <!-- start of form for making a blog -->
  <div class="form-group">
    <div class="field-title">
      <%= f.label :post_title, "What is the name of your post?" %>
      <%= f.text_field :post_title, class: "form-control" %>
    </div>
    <div class="field-title">
      <%= f.label :post_content, "Enter your post here!" %>
      <%= f.text_area :post_content, class: "form-control" %>
    </div>
    <div class="field-title">
      <label for="date">Chose the date of this post</label>
      <input type="text" data-provide='datepicker' name=post[post_date] >
    </div>
    <% if params[:action] == "edit" %>
      <div class="field-title">
        <p>Note changing the start and end location will not change the route as it is displayed on google maps. The only way to change this is to upload a new gps file.</p>
      </div>
    <% end %>
    <div class="field-title" id="start-point">
      <%= f.label :address1, "Enter starting point!" %>
      <%= f.text_field :address1, class: "form-control"%>
    </div>
    <button id="add-waypoints" type="button" name="button" class="btn btn-primary">Add WayPoint</button>
    <div class="field-title" id="end-point">
      <%= f.label :address2, "Enter end point here!" %>
      <%= f.text_field :address2, class: "form-control" %>
    </div>
    <%= f.hidden_field :center_lng %>
    <%= f.hidden_field :center_lat %>
    <%= f.hidden_field :address1_lng %>
    <%= f.hidden_field :address1_lat %>
    <%= f.hidden_field :address2_lng %>
    <%= f.hidden_field :address2_lat %>
    <%= f.hidden_field :poly_line %>
    <%= hidden_field_tag :distance %>
    <% if params[:action] != "edit" %>
      <div class="field-title">
        <%= label_tag "Chose google maps directions type" %>
        <%= select_tag "directions_type", "<option>Bicycling</option><option>Driving</option>".html_safe, class: "form-control" %>
      </div>
    <% end %>
    <div id="new-post-map">

    </div>
  </div>

  <%= f.button :submit, :class => "btn btn-submit" %>

<% end %>
