<%= form_for([@trip, @post], :html => { :multipart => true }) do |f| %>
  <%= hidden_field_tag :route_id, @route.id %>
  <%= hidden_field_tag :poly_line, @route.poly_line %>

  <!-- error messages -->
  <% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved</h2>

    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <!-- start of form for making a blog -->
  <div class="form-group">
    <div class="field-title">
      <%= f.label :post_title, "What is the name of your post?" %>
      <%= f.text_field :post_title, class: "form-control", :required => true %>
    </div>
    <div class="field-title">
      <%= f.label :post_content, "Enter your post here!" %>
      <%= f.text_area :post_content, class: "form-control", :required => true %>
    </div>
    <div class="field-title">
      <label for="date">Chose the date of this post</label><br>
      <input id="post_date_picker" value="<%= @date_string %>" type="text" data-provide='datepicker' name=post[post_date] required>
    </div>
    <% if params[:action] == "edit" %>
      <%= label_tag "Check to enable route editing" %>
      <%= check_box_tag 'change route' %>
    <% end %>
    <div id="map-wrapper">
      <div id="new-post-map">

      </div>
    </div>
  </div>

  <%= f.button :submit, :class => "btn btn-primary", :id => "submit-post" %>

<% end %>
