<%= form_for([@trip, @post], :html => { :multipart => true }) do |f| %>

  <!-- error messages -->
  <% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved</h2>

    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <!-- start of form for making a blog -->
  <div class="form-group">
    <div class="field-title">
      <%= f.label :post_title, "What is the name of your post?" %>
      <%= f.text_field :post_title, class: "form-control" %>
    </div>
    <div class="field-title">
      <%= f.label :post_content, "Enter your post here!" %>
      <%= f.text_area :post_content, class: "form-control" %>
    </div>
    <div class="field-title">
      <%= f.label :address1, "Enter starting point!" %>
      <%= f.text_field :address1, class: "form-control"%>
    </div>
    <div class="field-title">
      <%= f.label :address2, "Enter end point here!" %>
      <%= f.text_field :address2, class: "form-control" %>
    </div>
    <%= f.fields_for :post_pictures do |post_picture_form| %>
      <div id="post-file-container" class="field-title">
        <div class="first-file">
          <%= post_picture_form.label :picture, "Upload an image here" %>
          <%= post_picture_form.file_field :image, :multiple => true, name: "post_pictures[image][]", class: "form-control" %>
        </div>
      </div>
    <% end %>
  </div>

  <%= f.button :submit %>

<% end %>
