<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API'] %>&libraries=places,geometry">
</script>
<%= javascript_include_tag "custom_directions" %>

<div id="wrapper-reg">
  <div class="container container-table <%= css_slug %>">
    <div class="row vertical-center-row <%= css_slug %>">
      <div class="registration-wrapper">
        <div class="col-title">
          <h1>Edit your post</h1>
        </div>
        <hr class="title-divider">
        <div class="sign_form">
          <%= render 'form', {:edit => true} %>
          <%= button_to "Delete Trip", { action: "destroy", id: @post.id},
                                  method: :delete, :class => "btn btn-danger", data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
