<script type="text/javascript">
$( document ).ready(function() {

  $(".center").slick({
    slidesToShow: 3,
    arrows: true,
    responsive: [
           {
             breakpoint: 1280,
             settings: {
               slidesToShow: 2,
               slidesToScroll: 1
             }
           },
           {
             breakpoint: 1000,
             settings: {
               slidesToShow: 1,
               slidesToScroll: 1
             }
           }
         ]
  });


  $("#new_clap").on("submit",function(e){
    e.preventDefault()
    $.ajax({
      method: 'post',
      url: '/claps',
      data: $("#new_clap").serialize(),
      dataType: 'json'
    }).done(function(msg){
      var count = parseInt($("#claps-count").html()) + 1
      $("#claps-count").html(count.toString())
    }).fail(function(msg){
      alert('Sorry stuff went wrong')
    });
  })


})
</script>

<%= hidden_field_tag 'current_post_date', "#{@post.id}" %>
<div class="post-title">
  <h1><%= @post.post_title.upcase %></h1>
</div>
<% if current_user == @user %>
  <%= link_to "Edit Post", edit_trip_post_url(@post.trip, @post) %>
<% end %>
<div class="post-details row">
  <div class="col-sm-4">
    <p>
      <%= @post.trip.user.name %>
    </p>
  </div>
  <div class="col-sm-4">
    <p>
      <%= @route.address1 %> to <%= @route.address2 %>
    </p>
  </div>
  <% unless @route.distance == nil %>
    <div class="col-sm-4">
      <p>
        Total Distance: <%= @route.distance %> km
      </p>
    </div>
  <% end %>
</div>
<div class="row post-text-row">
  <div class="col-sm-12">
    <p>
      <%= simple_format(@post.post_content) %>
    </p>
  </div>
</div>
<% unless @post.post_pictures == nil %>
  <section class="center slider">
    <% @post.post_pictures.each_with_index do |post_picture, index| %>
      <div class="post-picture-image">
        <%= image_tag(post_picture.picture_url, class: "post-picture", 'data-target': "##{post_picture.id}", 'data-toggle': "modal") if post_picture.picture? %>
      </div>
    <% end %>
  </section>
  <% @post.post_pictures.each_with_index do |post_picture, index| %>
    <div id="<%= post_picture.id %>" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg"> -->
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-body-image">
              <%= image_tag(post_picture.picture_url, class: "post-picture-modal") if post_picture.picture? %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
  <% end %>
<% end %>
<div class="comments-claps row">
    <div class="col-sm-12 claps-col">
      <p id="claps-count"><%= @claps %></p>
      <% if @already_clapped == true || @already_clapped == nil %>
        <%= image_tag asset_url("icons/clap-hands.png") %>
        <button type="button" name="button" class="btn btn-primary" disabled>Add Clap</button>
      <% else %>
        <%= form_for @new_clap do |f| %>
          <%= hidden_field_tag :post_id, @post.id %>
          <%= image_tag asset_url("icons/clap-hands.png"), :id => "clap-hand-img-good" %>
          <%= f.submit "Add Clap", :class => "btn btn-primary", :id => "add-clap-button" %>
        <% end %>
      <% end %>
    </div>
</div>
