<!DOCTYPE html>
<html class="<%= css_slug %>">
  <head>
    <title>TravelOnTwo</title>
    <%= include_gon %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://kenwheeler.github.io/slick/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
  </head>

  <body class="<%= css_slug %>">
    <!--start of navbar-->
    <% if css_slug == "post_groups-show" %>
    <nav class="navbar navbar-inverse <%= css_slug %> navbar-fixed-top">
    <% else %>
    <nav class="navbar navbar-inverse <%= css_slug %>">
    <% end %>
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= root_url %>">Travel on Two</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right <%= css_slug %>">
            <% if current_user %>
              <li><a href="<%= user_path(current_user) %>">Hi <%= current_user.name %></a></li>
              <li><a href="<%= destroy_user_session_path %>" data-method="delete"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
            <% else %>
              <li><a href="<%= new_user_registration_path %>"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <!--start dropdown menu  -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Login <b class="caret"></b></a>
                <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                  <li>
                    <div class="row">
                      <div class="col-md-12">
                        <%= form_for(:user, :url => session_path(:user), class: "form-for-popup") do |f| %>
                          <div class="form-group">
                            <%= f.label :email, "Email address?", class: "sr-only" %>
                            <!-- <label class="sr-only" for="exampleInputEmail2">Email address</label> -->
                            <%= f.text_field :email, placeholder: 'Email address', class: "form-control" %>
                            <!-- <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address"> -->
                          </div>
                          <div class="form-group">
                            <%= f.label :password, "Password?", class: "sr-only" %>
                            <!-- <label class="sr-only" for="exampleInputPassword2">Password</label> -->
                            <%= f.password_field :password, placeholder: 'Password', class: "form-control" %>
                            <!-- <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password"> -->
                          </div>
                          <div class="checkbox">
                            <%# f.check_box :remeber_me %>
                            <%# f.label :remeber_me %>
                          </div>
                          <div class="form-group">
                            <%= submit_tag "Log in" %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            <% end %>
            <li>
              <%= form_tag(trips_path, method: 'get', class: 'navbar-form navbar-left') do %>
                <%= search_field_tag 'search', nil, class: 'form-control', placeholder: 'Search For a Blog' %>
                <%= submit_tag "Search", class: 'btn btn-primary btn-sm outline', :name => nil %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--end of nav bar -->
    <%= yield %>
  </body>
</html>
